streamlit
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
pypdf
python-dotenv
fastapi
uvicorn
pydantic
python-multipart
aiofiles
cors
langchain-huggingface
ddgs
python-dotenv